.footer {
    padding: 82px 0;
    background-color: #343434;
    background-image: linear-gradient(to right, rgba(47, 61, 252, 0.35) 0%, rgba(100, 17, 135, 0.35) 73%, rgba(100, 17, 135, 0.35) 100%);

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__left,&__right {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex:0 1 50%;
    }

    &__address {
        color:var(--color-white);
        font-size: 17px;
        font-weight: 500;
        font-family: "Ubuntu";
        line-height: 1.4;
    }

    &__email,&__phone {
        padding-left: 35px;
        color:var(--color-white);
        font-size: 17px;
        font-weight: 700;
        font-family: "Ubuntu";
        line-height: 1.4;
    }

    &__email {
        background-image:url(../img/message.svg) ;
        background-size: 28px 20px;
        background-position: righleft;
        background-repeat: no-repeat;
    }

    &__phone {
        background-image:url(../img/phone.svg) ;
        background-size: 28px 20px;
        background-position: righleft;
        background-repeat: no-repeat;
    }

    &__social {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__media-list {
        display: flex;
        justify-content: space-between;
        min-width: 151px;
    }

    &__copyright {
        margin-top: 12px;
        color:var(--color-white);
        font-size: 12px;
        font-weight: 300;
        font-family: "Ubuntu";
    }

    
}