.burger {
    position: relative;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;

    span {
        display: inline-block;
        width: 100%;
        height: 4px;
        background-color: #fff;
    }

    &::after,&::before {
        content: '';
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
    }

    &::after {
        top: 0;

    }

    &::before {
        bottom: 0;
    }

    @media screen and (min-width:992px) {
        display: none;
        
    }
}